.heroBanner {
    position: relative;
    width: 100%;
    max-width: 1920px; 
    margin: 0 auto;
    background-color: var(--foot-color); 
    overflow: hidden;
}

.heroBanner .heroImage {
    width: 100%;
    height: auto;
    max-height: 80vh; 

    object-fit: cover; 
    display: block;
}