.header {
    color: var(--title-color);
    font-size: xx-large;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: var(--font-title);
    background-color: rgb(255, 251, 219);
    z-index: 99;
    max-height: 110px;
}

.headContainer {
    height: 175px;
    background-color: var(--golden);
}

.imgContainer {
    position: relative;
}

.imgContainer img {
    position: absolute;
    left: 20px;
    bottom: -110px;
    max-height: 190px;
    min-height: 168px;
    max-width: 255px;
}

.navPages { 
    height: 150px;
}

.navPages li:hover {
    background-color: var(--golden);
    transform: scale(105%);
}

@media (max-width: 991px) {
    .header { max-height: 190px;}
    .imgContainer img { left: 5px;}
}

@media (max-width: 614px) {
    .imgContainer img { transform: scale(80%); left: -20px;}
}