.header {
    color: var(--title-color);
    font-size: xx-large;
    position: sticky;
    top: 0;
    width: 100%;
    font-family: var(--font-title);
    background-color: rgb(255, 251, 219);
    z-index: 99;
}

.logoContainer {
    padding-bottom: 10px;
    background-color: var(--golden);
    justify-content: center;
}

.imgContainer {
    width: 90%;
}

.navPages li:hover {
    background-color: var(--golden);
    transform: scale(105%);
}