/* VARIABILI CSS */

:root {
            --bg-color: #fdfee6;
            --surface-color: #656d77;
            --title-color: #000000;
            --text-color: #d69a9a;
            --font-display: 'Orbitron', sans-serif;
            --font-body: 'Rajdhani', sans-serif;
        }

body {
    background: var(--bg-color);
    margin: 0;
}

main {
    border-top: 65px solid rgba(127, 8, 8, 0.655);
}