/* Font import */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One&display=swap');
/* VARIABILI CSS */

:root {
    --bg-color: #fdfee6;
    --surface-color: #656d77;
    --red: rgb(215, 106, 106);
    --golden: #d5c4305f;
    --title-color: #000000;
    --text-color: #d69a9a;
    --font-display: 'IM Fell DW Pica', serif;
    --font-title: "Bowlby One", serif;
}

/* GENERALI */




font body {
    background: var(--bg-color);
    font-family: var(--font-display);
    margin: 0;
}

main {
    border-top: 65px solid var(--red);
    padding-top: 35px;
    padding-left: 20px;
    margin-bottom: 160px;
}

@media ( max-width: 991px ) {
    main { border-top: none;}
}

a {
    color: black;
    text-decoration: none;
}

/* Specifici */

.navigateBtn {
    display: block;
    background-color: var(--golden);
    width: 160px;
    font-family: var(--font-title);
    margin: 20px auto;
    text-align: center;
    transform: scale(160%);
}