/* VARIABILI CSS */

:root {
            --bg-color: #90939c;
            --surface-color: #656d77;
            --title-color: #cb7a7a;
            --text-color: #d69a9a;
            --font-display: 'Orbitron', sans-serif;
            --font-body: 'Rajdhani', sans-serif;
        }

body {
    background: var(--bg-color);
    margin: 0;
}